<div class="row">
  <select ng-model="vm.userId" ng-change="vm.getLists(vm.userId)">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <p>User Id: {{vm.userId}}</p>
</div>
<div class="row">
  <div class="col-md-3" ng-repeat="list in vm.lists">
    <p class="text-center"><strong>{{list.name}}  {{list.id}}</strong></p>
    <p>{{list.occurs | date:'medium'}}</p>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th></th>
          <th class="text-center">Item Name</th> 
          <th></th>
        </tr>
        <tr ng-repeat="item in vm.items"> <!--  | filter:{id:list.id} -->
          <td class="col-1">
            <button type="button" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td class="col-2">{{item.semantic_name}} {{item.id}} {{list.id}}</td>
          <td class="col-3">
            <button type="button" class="btn btn-primary btn-xs move-right glyphicon glyphicon-arrow-right"></button>
          </td>
        </tr>
<!--         <tr>
          <td class="col-1">
            <button type="button" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td class="col-2">Peanut Butter</td>
          <td class="col-3">
            <button type="button" class="btn btn-primary btn-xs move-right glyphicon glyphicon-arrow-right"></button>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <button type="button" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td class="col-2">Napkins</td>
          <td class="col-3">
            <button type="button" class="btn btn-primary btn-xs move-right glyphicon glyphicon-arrow-right"></button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div> <!-- col-md-3 -->


</div> <!-- row -->